<ion-view view-title="Query using Images">
	<ion-content>
		<div class="row">
			<div ng-click="vm.getResults('asthma')" class="col col-50 image-col-50"><img class="image-query-img" ng-src="img/asthma.png" alt=""><br>Asthma</div>
			<div ng-click="vm.getResults('cold')" class="col col-50 image-col-50"><img class="image-query-img" ng-src="img/cold.png" alt=""><br>Cold</div>
		</div>
		<div class="row">
			<div ng-click="vm.getResults('acne')" class="col col-50 image-col-50"><img class="image-query-img" ng-src="img/acne.png" alt=""><br>Acne</div>
			<div ng-click="vm.getResults('bp')" class="col col-50 image-col-50"><img class="image-query-img" ng-src="img/bp.png" alt=""><br>Hypertension/BP</div>
		</div>
		<div class="row">
			<div ng-click="vm.getResults('cough')" class="col col-50 image-col-50"><img class="image-query-img" ng-src="img/cough.png" alt=""><br>Cough</div>
			<div ng-click="vm.getResults('fever')" class="col col-50 image-col-50"><img class="image-query-img" ng-src="img/fever.png" alt=""><br>Fever</div>
		</div>
	</ion-content>
</ion-view>