<ion-view view-title="">
	<ion-content>
		<div class="big-img"></div>
		<form name="illnessForm" no-validate 
		ng-submit="vm.getHelp(vm.illness,illnessForm.$valid)">
			<div class="row no-padding">
				<div class="col col-100 no-padding">
					<auto-complete placeholder="How can we help you?"  
			 				ng-model="vm.illness.symptom" 
			 				search-placeholder="Search for a symptom" 
		 					label-cancel="Back"
			 				icon="ion-medkit" 
							data="{{vm.illness}}">
					</auto-complete>
				</div>				
			</div>
			<div class="row no-padding">
				<div class="col col-100 no-padding">
					<auto-complete placeholder="Where city are you in?"  
			 				ng-model="vm.illness.city" 
			 				search-placeholder="Search for a city" 
		 					label-cancel="Back"
			 				icon="ion-android-pin" 
							data="{{vm.cities}}">
					</auto-complete>
				</div>
			</div>
			<div class="row no-padding">
				<div class="col col-80 no-padding">
					<auto-complete placeholder="Where are you located?"  
			 				ng-model="vm.illness.locality" 
			 				search-placeholder="Search for a locality" 
		 					label-cancel="Back"
			 				icon="ion-android-pin" 
							data="{{vm.locales}}" 
							locales="true"
							>
					</auto-complete>
				</div>
				<div class="col no-padding submit-btn text-center">
					<button type="submit" class="button button-clear icon ion-android-send"></button>
				</div>
			</div>
		</form>

		<div class="row" style="margin-top: 7em;">
			<div class="col text-center">
				 <i class="icon ion-android-microphone fab-btn-icon" ng-click="vm.recognizeSpeech()"></i>  <br><br>Tell your problem
			</div>
			<div class="col text-center">
				<i ui-sref="image" class="icon ion-android-image fab-btn-icon"></i> <br>
				<br>Find with image
			</div>
		</div>
	</ion-content>
</ion-view>
